.currentItems{
    width:100%;
}

.currentItems thead tr.table-heading td{
    font-weight: bold;
    padding-left:5px;
    padding-right:5px;
}

.currentItems__body tr td{
    padding:5px !important;
}